.feachures__title {
  font-family: 'Prata', 'Arial', 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #34313D;
  margin: 0 0 15px 0;
}
