.booking-button{
  font-family: 'Prata', 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  background-color: #EF4843;
  z-index: 2;
  color: white;
  border-radius: 28px;
  height: 75px;
  cursor: pointer;
  border: 0;
  transition: all 0.7s ease-in;
}

.booking-button:hover ~ .heading__video-container::before{
  background-color: rgba(255, 255, 255, .2);
}

.booking-button:hover ~ .heading__title {
  color: transparent;
}
