.card__text{
  font-family: 'Prata', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9E9AA8;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1023px){
  .card__text{
    text-align: center;
  }
}
