.popup__title_content_feachure-card {
  /*font-size: 28px;*/
  line-height: 30px;
  margin: 0;
}

@media screen and (max-width: 864px){
  .popup__title_content_feachure-card {
    width: 238px;
    font-size: 20px;
    line-height: 25px;
  }
}

/*@media screen and (min-width: 1280px){*/
/*  .popup__title_content_feachure-card {*/
/*    font-size: 28px;*/
/*    line-height: 30x;*/
/*  }*/
/*}*/
