.feachures__subtitle {
  font-family: 'Prata', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
  margin-bottom: 80px;
}
