.gallery__button-container {
  padding-top: 25px;
  position: relative;
  height: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width: 650px){
  .gallery__button-container {
    display: none;
  }
}
